header {
  background-color: rgb(230, 226, 226);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}
header:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header_wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 900;
  font-size: 18px;
  color: rgba(14, 4, 107, 0.993);
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  z-index: 200;
}
.navigation {
  width: 100%;
  display: flex;
  flex-grow: 1;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-grow: 1;
}

.navigation li {
  font-size: 1rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation li:hover,
.navigation li:active {
  background-color: blue;
  color: rgb(255, 255, 255);
}

.language_switcher {
  display: none;
}

@media (min-width: 481px) {
  .header {
    padding: 15px;
  }

  .navigation li {
    font-size: 1.125rem;
  }

  .logo {
    font-size: 20px;
  }
}
@media (min-width: 769px) {
  .navigation li {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 25px;
  }
}

@media (min-width: 990px) {
  .navigation ul {
    gap: 40px;
    flex-direction: row;
  }
  .navigation li {
    padding: 0;
    font-size: 1.3rem;
  }
  .navigation li:hover,
  .navigation li:active {
    background-color: transparent;
    color: rgb(38, 38, 172);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  }
}

/* nav displaying */

.right__header {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: bisque;
  transition: all 0.5s;

  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 990px) {
  .right__header {
    visibility: unset;
    opacity: 1;
    position: relative;
    width: auto;
    height: auto;
    background-color: transparent;

    flex-direction: row-reverse;
    gap: 160px;
  }
}

.right__header.active {
  transform: translate(0);
  opacity: 1;
  visibility: visible;
}

/* Profile Avatar */
.logout__btn__mobile,
.login__btn__mobile {
  display: block;
  margin-top: auto;
}
.profile__nav__desktop,
.login__btn__desktop {
  display: none;
}

.profile__container {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 20px;
}
@media (min-width: 481px) {
  .profile__container {
    margin-top: 80px;
  }
}
@media (min-width: 990px) {
  .profile__container {
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: unset;
    position: relative;
  }
  .logout__btn__mobile,
  .login__btn__mobile {
    display: none;
  }
  .profile__container::before {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    top: 100%;
  }
  .profile__container:hover .profile__nav__desktop {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 8px);
    left: -15px; /* to line up nicely and be even with li padding */
    width: max-content;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* slight  shadow */
    border-radius: 10px;
    overflow: hidden;
  }
  .profile__container:hover .profile__nav__desktop li {
    padding: 10px 15px;
    width: 100%;
  }
  .profile__container:hover .profile__nav__desktop li:hover {
    background-color: blue;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .logout__btn__desktop {
    color: #dd3b3b;
    font-weight: 600;
  }
  .login__btn__desktop {
    display: block;
    color: #1c6b30;
    font-weight: 600;
  }
  .user__image {
    width: 30px;
    height: 30px;
  }
  .user__image img {
    width: 100%;
    display: block;
  }
}
