footer {
  background-color: rgb(230, 226, 226);
}

.footer_wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_navigation {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_navigation ul {
  display: flex;
  gap: 15px;
}

.footer_navigation ul {
  list-style: none;
}

.footer_navigation li {
  font-size: 16px;
}

@media (min-width: 481px) {
  .footer {
    padding: 20px;
  }

  .footer_navigation li {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .footer_navigation li {
    font-size: 1.25rem;
  }
}

@media (min-width: 990px) {
  .footer_navigation li {
    .footer_navigation li {
      font-size: 1.3rem;
    }
  }
}
