.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.footer {
  flex: 0 0 auto;
}

.header__wrapper__wrapper {
  flex: 0 0 auto;
}

.main_content {
  flex-grow: 1;
}
/* for no-scrollbar */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  /* WebKit browsers */
  display: none; /* Hide scrollbar */
}
