body {
  min-width: 290px;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul,
li,
p,
h1,
h2,
h3,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
